/* Reset CSS */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  padding: 0;
  list-style: none;
}

/* Remove default padding */
body {
  padding: 0;
}

/* Set core root element styles */
html {
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
}

/* Set core body styles */
body {
  line-height: 1.5;
  font-size: 16px;
}
